# HER CODE CAMP Intro to Python - Day 1 - Olympics Data
---

In [0]:
import pandas as pd, seaborn as sns

Let's look at a larger dataset: information about the athletes who have competed at the Olympic games over the past 120 years, including physical characteristics of the atheletes and details about the events in which they competed. The dataset was originally obtained on [Kaggle](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results), but we are storing the dataset on github so everyone can access it easily from the website without creating a Kaggle acount and downloading it.

You can take a took at the data by clicking [here](https://raw.githubusercontent.com/hgibling/Olympics/master/athlete_events.csv). The file extension is **`.csv`**, which stands for **comma separated values**. This means that the values from each column are separated by commas. It's a way for the computer to know that a value belongs to a single column even if it contains a space, such as the value 'United States'.

Pandas has a function **`.read_csv()`** to let the computer know that the columns are separated by commas, so when we load it into python the commas are removed and it looks nice and clean. Let's grab the dataset off of the internet and see how many rows and columns there are:

In [0]:
olympics = pd.read_csv("https://raw.githubusercontent.com/hgibling/Olympics/master/athlete_events.csv")
print(olympics.shape)

We used the **`.shape`** attribute of the olympics dataset to find out the dimensions, but we didn't put brackets at the end. Why not? **`.shape`** is not a function, but simply a descriptive attribute, so we don't need the brackets.

We have 271,116 rows and 15 columns, that's huge! We probably shouldn't try to view the entire dataset using print, so let's look at the first few rows using the **`.head()`** attribute function. This time we *will* put brackets after the attribute name because it is a function that can take options or arguments (the number of rows we want to view, specified with **`n=`**):

In [0]:
olympics.head(n=10)

The columns are named, which is helpful (by default, **`.read_csv()`** assumes the first row is the column names). Some of the values are **`NaN`**, which stands for **Not a Number** and is usually used when a value is expected to be a number, but for some reason isn't. In this case it looks lilke it's being used for **missing values**. It's very common to have some missing values in large datasets--sometimes data aren't collected, they aren't available, or they get lost when compiling the data. Other times it's because writing 0 doesn't really make sense, such as with the Medal column in the olympics data. If an athlete didn't win a medal, the value is **`NaN`**.

We can quicky calculate some statistics about our data using the **`.describe()`** attribute feature. It will only provide information about the numerical columns:

In [0]:
olympics.describe()

Because this dataset is so huge, let's grab a subset (a smaller portion) of it. We often use subsets when we want to test things or explore data. There are a couple of ways we can do this. First, we can grab the first *X* number of rows, such as the first 500 rows. Do you remember what attribute function we used to do this?

In [0]:
olympics_first_500 = olympics.iloc[0:500, :]
print(olympics_first_500.shape)

However, we don't know how the entries have been arranged, so grabbing the first 500 might not give us a representative subset of the data. Maybe athletes from earlier games are clustered near the top, or maybe it's alphabetical by athlete name. To get a representative sample, we should randomly select 500 rows. We can do this using the **`.sample()`** attribute function:

In [0]:
olympics_random_500 = olympics.sample(n=500, axis="index")
print(olympics_random_500.shape)
olympics_random_500.head()

Run the above cell a few times. Do the entries change each time? That's good! It means it really is randomly picking 500 rows. But since there is a room full of us learning together, it might be helpful if we all had the same results. We can set a **seed** or **random state** when picking the random rows. If we all use the same seed, we will all have the same results!

Try running the following code a few times to confirm this:

In [0]:
olympics_random_500 = olympics.sample(n=500, axis="index", random_state=123)
olympics_random_500.head()

We can also use the **`.sample()`** attribute function to randomly select a *percentage* of the data. Let's specify that we want to get a random sample of 10% of the data (a fraction of 0.1):

In [0]:
olympics_percent = olympics.sample(frac=0.1, axis="index", random_state=42)
print(olympics_percent.shape)
olympics_percent.head()

We can also subset the data based on a feature. This is where we can get creative and find out interesting facts about our data! Let's select only the athletes that competed when they were teenagers. We can do that using a **logic** statement for the Age column:

In [0]:
olympics_teens = olympics[olympics.Age < 20]
olympics_teens.head()

Let's break down what we did. Remember when we used square brackets for slicing strings and lists? We are using them again for slicing (or subsetting) the dataframe. So **`olympics[]`** will subset the olympics dataframe based on what is inside the brackets.

Inside we have the logical statement **`olympics.Age < 20`**. Here we are using dot notation to access the Age attribute of the data. That's right, columns are considered attributes! **`olympics.Age`** is the same as saying  **`olympics.loc[:,'Age']`** or **`olympics['Age']`**. When you are working with multiple sets of brackets, it's easier to call columns as attributes.

What happens when we run this statement by itself?:

In [0]:
print(olympics.Age < 20)

The result is a pandas series with a **boolean** (true/false) value for each row. The rows that had Age < 20 are marked **True**, and the rest are **False**. So when this logical statement is placed inside the subsetting brackets with **`olympics[olympics.Age < 20]`**, our dataset **`olympics`** is subset based on which rows are True by that logic.

We can subset based on multiple factors at the same time. How about getting the female teenagers from Canada? We can do this using the **`&`** operand to specify that rows should meet all of the criteria inside the square brackets. We can keep things tidy by assigning the logic statements to variables before subsetting:

In [0]:
age_logic = olympics.Age < 20
team_logic = olympics.Team == "Canada"
sex_logic = olympics.Sex == "F"

olympics_can_teens = olympics[age_logic & team_logic & sex_logic]
olympics_can_teens.head()

---
## Exercise 11
How many athletes from the United States competed as senior citizens (65 years old or older)?

*Hint: You will want to use two logic statements and can check the shape of the resulting dataframe.*

In [0]:
age_logic = olympics.Age >= 65
team_logic = olympics.Team == "United States"

olympics_us_seniors = olympics[age_logic & team_logic]
print(olympics_us_seniors.shape)
olympics_us_seniors.head()

---

How about only athletes that won a medal? Since there are three possible medals that could be won, we can use the attribute function **`.isin()`** to provide a list of acceptable values. This way we don't have to write out three logic statements:

In [0]:
olympics_medals = olympics[olympics.Medal.isin(["Gold", "Silver", "Bronze"])]
olympics_medals.head()

But we could also do this by taking advantage of the fact that non-medal winners have a value of  **`NaN`**. This is handy when there might be multiple options for a column and you don't want to type out a list that contains each possiblity.

The syntax, or the way the command is written, is a bit different than how the logical arguements and **`.isin()`** examples were written, but the idea is still the same. We are subsetting the **`olympics`** dataframe (using square brackets), and using the pandas function **`notnull()`** while specifying that we want to see which rows are *not* null (not **`NaN`**) for the column 'Medal':

In [0]:
olympics_medals = olympics[pd.notnull(olympics.Medal)]
olympics_medals.head()

What if we wanted to tally up how many atheletes have competed from each country over the years? It would take forever to make a subset of the data for each country and do the counting! Instead we can use the **`.groupby()`** attribute function. This performs a **split-apply-combine** approach to do these calculate automatically:

- **split** - split the dataset based on specified groups (e.g. Country)
- **apply** - perform a function on each group (e.g. count)
- **combine** - put the dataset back together

Let's give it a try, applying the **`.count()`** function to our grouped data:

In [0]:
olympics_country = olympics.groupby(['Team']).count()
olympics_country.head()

The **`.groupby()`** attribute function performs the splitting and combining, but we need to specify the apply function separately, which we did by chaining **`.count()`** at the end. 

**`.count()`** counted the number of entries for each column based on how the dataset was split (in our case by Team, the country). Looking at Afghanistan, some columns have different numbers. This is because there were a lot of **`NaN`** or missing values in the dataframe. 'ID' is a good column to look at to determine how many athletes participated, since each athlete has a unique ID. 

What's up with the first few entries? **'30. Februar'** and **'A North American Team'** are not countries! It looks like whoever compiled this dataset had a few errors. That is an unfortunate reality of working with other people's data--it's sometimes messy!

We can sort the data in ascending or descending order based on a specific column. This makes it easier for us to see the extremes of our dataset. Let's sort the number of athletes per country that we just found using the **`.sort_values()`** attribute function:

In [0]:
olympics_country.sort_values("ID", ascending=False).head()

---
## Exercise 12
Use **`.groupby()`** and other functions that we've learned to find out the following:

 - What is the average age of the male athletes and the female athletes?
 - What olympic games had the most athletes participate?
 - Which athlete has won the most medals?

In [0]:
# average age based on sex
olympics_age = olympics.groupby(['Sex']).mean()
print(olympics_age.Age)

In [0]:
# games with most participants
olympics_numbers = olympics.groupby(['Games']).count().sort_values('ID', ascending=False)
print(olympics_numbers.ID.head())

In [0]:
# athletes with most medals
olympics_athletes_medals = olympics.groupby(['Name']).count().sort_values('Medal', ascending=False)
print(olympics_athletes_medals.Medal.head())

---

# Seaborn

Showing our data in tables is cool and everything, but it would be really useful if we could visualize some of these trends. Learning how to graph in python is a really useful skill, especially if you want to present your data to someone else. To do that, we are going to use a library called **seaborn**. We already imported seaborn earlier with **`import seaborn as sns`**.

Now we have to load the default seaborn theme, colour palette, and scaling. We can do that with the following line:

In [0]:
sns.set()

Let's try visualizing the height of Olympians from our Olympics dataset as a function of the year. First, let's remove all the **`NaN`** (empty/null) values from our dataset!

In [0]:
sns.relplot(data=olympics, 
            x="Year", y="Height")

Let's break apart that code:

- **`.relplot()`** is the name of the function from the **`sns`** module we are using. It's called **`relplot()`** because it visualizes *relationships* between variables.
- We pass our dataset into the function with the following argument: **`data=olympics_medals`**
- Our dataset should be in a pandas dataframe, so it's good we did all that work before. 
- **`x="Year"`** is the data we want to have on our **x-axis**. "Year" is the name of the column from our **`olympics_medals`** dataset. 
- **`y="Height"`** is the data we want to have on our **y-axis**. Again, "Height" is the column name from our **`olympics_medals`** dataset. 

Each point on the plot is the height and year data for one row in our dataset.

Visualizing our data can help us extract information that we probably wouldn't get just by looking at the numbers. For example, notice that there are two gaps in the x-axis around 1918 and 1940. Why weren't any Olympics held in those years?

Let's try adding some information to make the graph more interesting!

In [0]:
sns.relplot(data=olympics, x="Year", y="Height", hue="Medal", style="Sex")

Here we passed two other variable sinto our function: 
- **`hue`**, which determines the colours of the points
- **`style`**, which determines how the markers look.

Notice that we passed a column names to the variables: **`hue="Medal"`** and **`style="Sex"`**

This might not be intuitive since we don't actually pass any colour or marker names. Seaborn automatically looks at the columns, counts how many unique catergories we have, and assigns a colour/marker for each category. In this case, we have three categories for colour: gold, silver, and bronze (NaN is not plotted), and two categories for markers: male and female.

Now let's plot some **categorical** data, which does *not* contain any numbers. Let's plot age vs medal won. To do that, we're going to use a **boxplot**, which we do by calling **`sns.boxplot()`**. We're going to pass in our dataset. For **`x`**, we're going to pass in our category (which is **`"Medal"`**) and for **`y`**, we're going to pass in **`"Age"`**:

In [0]:
sns.boxplot(data=olympics, x="Medal", y="Age")

Remember that boxplots are a way to look at the **distribution** of our data.
- The box represents the 25th (first quartile or Q1) to 75th percentile (third quartile or Q3), also known as the **interquartile range or IQR**.
- The **median** (second quartile or Q2) is marked as a line in the box.
- The whiskers or lines of the plot extend from Q1-(1.5\*IQR) to Q3+(1.5\*IQR), and we expect the majority of our data to fall within this range.
- **Outliers** are depicted as dots above and below the whiskers. 

For our data, the boxes are fairly compact, meaning the athlete ages generally don't have a wide distribution. We do have several outliers of athletes who competed when they were older than 40!

By default, seaborn ignores values that are **`NaN`** and doesn't plot them. But it might be interesting to plot the data of the non-medal winners as well. Let's create a new column for our dataset where we change all of the **`NaN`** values to the string "None" to make a fourth category for the medal, and then plot it. Let's also separate the boxplots for males and females using the **`hue`** argument:

In [0]:
olympics["Medal2"] = olympics.Medal.fillna("None")
sns.boxplot(data=olympics, x="Medal2", y="Age", hue="Sex")

What about making a boxplot that compares the distribution of heights of the althetes competing in different sports? Let's grab a subset of our data: the athletes who competing in the Winter games. Then let's plot the Height on the x-axis and the Sport on the y-axis so it's easier for us to read the labels:

In [0]:
olympics_winter = olympics[olympics.Season == "Winter"]
sns.boxplot(data=olympics_winter, x="Height", y="Sport")

---
### This is just a small sampling of the kinds of things you can do to explore datasets. We hope you enjoyed it!